//Typo 
@import url('https://fonts.googleapis.com/css?family=Cabin:500,700|Merriweather:300,400');
h1, h2, h3, h4 {
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
}

//couleurs
$vert : #3a504e;
$noir-doux : #262626;
$noir : #000;
$blanc : #fff;
$gris-fonce : #353535;