.site-header {
    background: $noir-doux;
    .title-bar, .vertical.menu  {
        background: none;

        a {
            color: $blanc;
        }
    }

    .site-navigation {
        background: $noir-doux; 
        padding: 20px;
    }
    .top-bar-title {
        padding: 0;
    }
    .desktop-menu {
        background: $noir-doux;
        margin-top: 25px;

        a {
            color: $blanc;
            text-transform: uppercase;
            font-size: 18px;
            font-weight: 500;
            transition: all ease 0.3s;
            &:hover {
                color: $rouge;
                transition: all ease 0.3s;
            }
        }
    }
    button.menu-icon {
        background: url("../images/icone-menu.png");
        background-size: cover;
        background-repeat: none;
        &::after {
            content: none;
        }
    }
    .menu .active > a, .current-menu-item {
        background: none;
        border-bottom: 2px solid $blanc;
    }
     .menu ul.dropdown.is-dropdown-submenu {
        border: none;
        background: $noir-doux;
        white-space: nowrap;
        right: auto;
        left: 0;
        padding-bottom: 5px;

        a {
            text-transform: none;
            font-size: 16px;
            padding: 15px;

        }
    }

    //petite fleche de submenu
    .mobile-menu .is-accordion-submenu-parent > a::after, .mobile-off-canvas-menu .is-accordion-submenu-parent > a::after, .desktop-menu li.is-dropdown-submenu-parent > a::after {
        border-color: $blanc transparent transparent;
    }
}